<%- include('./partials/header') %>

<h1>PGA Polling Admin</h1>

<hr>

<section>
  <%= JSON.stringify(settings) %>
</section>

<hr>

<section>
  <%= JSON.stringify(tourney) %>
</section>

<%- include('./partials/footer') %>
